// Fonts
$fonte-one: "Raleway", sans-serif;
$fonte-two: "Roboto Slab", serif;
$fonte-tree: "Mr Dafoe", cursive;

// Colors
$color-primaria: #47ab6c;

// Imports
@import "./abstracts/buttons";
@import "./abstracts/mixin";
@import "./abstracts/titles";

@import "./components/intro";
@import "./components/navbar";
@import "./components/servicos";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: $fonte-two;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(51, 51, 51);
}

img {
  width: 100%;
}
