.navbar {
  background-color: #333;
  &-brand img {
    width: 60px;
    height: 60px;
    margin-left: 1.4rem;
  }
}

// Navbar-nav link
.navbar-nav {
  .nav-item {
    padding: 0 1.2rem;
  }

  .nav-link {
    font-weight: 700;
    color: #fff !important;

    &:hover {
      color: #fff !important;
      background: $color-primaria;
      border-radius: 5px;
    }
  }

  .active {
    color: #fff !important;
    background: $color-primaria;
    border-radius: 5px;
  }
}

// Media Queries
@media (min-width: 998px) {
  .navbar {
    background-color: transparent;

    // Logo marca
    &-brand img {
      width: 100px;
      height: 100px;
      margin-right: 1.5rem;
    }
  }

  .black {
    background: #333;
    border-bottom: 1px solid $color-primaria;
    transition: all 0.5s ease-out;
  }

  .black .navbar-brand img {
    width: 60px;
    height: 60px;
    margin-right: 1.5rem;
    transition: all 0.5s ease-out;
  }
}
